/* CSS file for ITMD-361 Project 2 – add CSS to the 3-page website. */

* { /* for all elements */
  box-sizing: border-box; /*padding and border are included in the width and height */
}

body { /* Page body */
  background-color: seashell;
  font-family: Arial, Helvetica, sans-serif; /* Native font */
  margin-left: 1.25em; /* 1em = 16px */
  padding-left: 0.625em;
  padding-right: 1.25em;
}

.footer { /* Page footer */
  font-family: Arial, Helvetica, sans-serif;
  height: 3.125em;
  font-size: 1em;
  background-color: lightgrey;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { /* Heading 1 */
  color: blue;
  font-weight: 400;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

h2, h3, h4 { /* Heading 2 - 4 Setting */
  font-weight: 900;
  padding-left: 10px;
  padding-top: 1.875em;
}

.h2center { /* Heading 2 specific setting */
  text-align: center;
  font-size: 170%;
  padding-top: .5em;
}

h3 { /* Heading 3 */
  font-size: 120%;
}

h4 { /* Heading 4 */
  font-size: 105%;
}

p { /* Paragraph Setting */
  font-family: Arial, Helvetica, sans-serif; /* Native font */
  font-size: 1.05em;
  padding-left: 0.625em;
  padding-right: 1.25em;
  text-align: left;
}

.jobtitle { /* Size for Job Title */
  font-size: 125%;
}

.center { /* Center Text */
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  font-size: 100%;
}

.left { /* Left aligned text */
  text-align: left;
  padding-top: 0px;
}

.webpage-layout { /* Page layout for every web page */
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 4px 8px 10px 8px grey;
  background-color: rgba(191, 191, 63, 0.3); /* light green */
  border-radius: 0.9375em;
}

.header { /* Header at the top of every web page */
  font-family: 'Atma', cursive;
  background-color: lightgrey;
  text-align: center;
  padding: 0.3125em 0;
}

/* Navigation Link Setting below */
.nav-links {
  font-size: 125%;
  background-color: olive;
  float: left;
  width: 100%;
  text-align: center;
}

.nav-links ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  left: 50%;
}

.nav-links ul li {
  position: relative;
  float: left;
  right: 50%;
  text-align: center;
  width: 25%; /* Avoid stacking on smaller pages */
  font-size: 78%;
}

.nav-links ul li a {
  color: firebrick;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
}

.nav-links ul li a:hover {
  color: olive;
  background-color: firebrick;
}

/* Link on the page body */
a.body-link:link {
  color:red;
}

a.body-link:visited {
  color:blue;
}

a.body-link:hover {
  font-size:110%;
}

/* Link for image caption */
a.img-link:link {
  color:white;
}

a.img-link:visited {
  color:red;
}

a.img-link:hover {
  background:lightgreen;
}

/* Image box */
figure {
  border: thick black solid;
  padding: 0;
  margin: auto;
  display: table;
  background-color: black;
  border-top: none;
  padding-top: 0;
  border-radius: 0 0 0.9375em 0.9375em;
}

/* Image Caption */
figcaption {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 0.125em;
  text-align: left;
  display: table-caption;
  caption-side: top;
  max-width: 380px;
  border: thick black solid;
  border-bottom: none;
  border-radius: 0.9375em 0.9375em 0 0;
  font-size: 1.05em;
}

.img-column {
  float: none;
  width: 40%;
  padding: 0.5em;
}

/* Clearfix (clear floats) for next row of images*/
.img-row::after {
  content: "";
  clear: both;
  display: table;
}

img { /* Image Setting */
  align-self: center;
  width: 18.75em;
  height: 12.5em;
  max-width: 18.755em;
  max-height: 12.5em;
}

video { /* Video Setting */
  align-self: center;
  width: 18.75em;
  height: 14.17em;
  max-width: 18.75em;
  max-height: 14.17em;
}

ul li { /* List Item Setting */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  padding-left: 10px;
  text-align: left;
  padding-right: 20px;
}

.li-padding { /* List item padding */
  padding-bottom: 5px;
}

/* Align left, center, right on a Resume line */
.alignleft {
  float: left;
  width:33.33%;
  text-align:left;
  padding-left: 0.625em;
  padding-top: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.aligncenter {
  float: left;
  width:33.33%;
  text-align:center;
  padding-top: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 180%;
  font-weight: 600;
}

.alignright {
  float: left;
  width:33.33%;
  text-align:right;
  padding-top: 1.4em;
  padding-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}​

/* pseduo-element to take care of clearing float element */
.clearfix::after {
  padding-left: 0px;
  padding-top: 0px;
  content: "";
  clear: both;
  display: block;
}

/* Take care of overflow outside of container */
.clearfix {
  content: "";
  clear: both;
  display: block;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  font-weight: 600;
  padding-top: 0.625em;
}

#intro { /* Intro */
  padding-top: 2em;
  text-align: center;
}

#saigon { /* Saigon portion setting */
  font-family: Arial, Helvetica, sans-serif;
}

#halong { /* Halong portion */
  text-align: left;
}

#sapa { /* sapa portion */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

#other { /* Other portion setting */
  font-family: Arial, Helvetica, sans-serif;
}

#summary { /* Resume Summary */
  font-family: Arial, Helvetica, sans-serif;
}

#key_skills { /* Resume Key Skills */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 0px;
}

#experience { /* Resume Experience Section */
  padding-top: 0px;
  text-align: left;
}

#education { /* Resume Education Section */
  text-align: left;
}

/* For Google Map piece */
#map-wrapper {
  width: 320px;
  height: 610px;
  background-color: lightgreen;
  margin:0 auto;
  overflow: hidden;
}

#map-canvas {
  width: 305px;
  height: 590px;
  margin: 10px auto;
}

#h1map { /* Heading 1 for Map */
  color: blue;
  font-weight: 400;
  font-size: 150%;
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

#pmap { /* Paragraph Setting */
  font-family: Arial, Helvetica, sans-serif; /* Native font */
  font-size: 1.25em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0;
  text-align: left;
}

#map-end {
  padding-top: 1.75em;
}

/* Box Slider slide show */
.slideshow {
  max-width: 290px;
  margin: 0 auto;
}
.slideshow ul {
  margin: 0;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/*** End of Box Slider ***?

/* Responsive layout 465px */
@media screen and (min-width: 29.0625em) {
  .nav-links ul li {
    font-size: 82%;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 140%;
  }
  h3 { /* Heading 3 */
    font-size: 120%;
  }
  h4 { /* Heading 4 */
    font-size: 105%;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    text-align: left;
  }
  .nav-links {
    font-size: 140%;
  }
  ul li { /* List Item Setting */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    text-align: left;
  }
  .img-column { /* 2 column images */
    float: none;
    width: 40%;
    padding: 0.5em;
  }
  img { /* Image Setting */
    width: 23.125em;
    height: 15.42em;
    max-width: 23.125em;
    max-height: 15.42em;
  }
  .slideshow {
    max-width: 500px;
    margin: 0 auto;
  }
  video { /* Video Setting */
    align-self: center;
    width: 23.125em;
    height: 17.47em;
    max-width: 23.125em;
    max-height: 17.47em;
  }
  figcaption {
    font-size: 1.1em;
  }
  /* Align left, center, right on a Resume line */
  .alignleft {
    padding-left: 0.625em;
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
  }
  .aligncenter {
    padding-top: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: 600;
  }
  .alignright {
    padding-top: 1.5em;
    padding-right: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
  }​
  .clearfix {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 600;
    padding-top: 0.625em;
  }
  .center { /* Center Text */
    font-size: 120%;
  }
  #intro { /* Intro */
    padding-top: 2.75em;
  }
  #saigon { /* Saigon portion setting */
    font-family: Arial, Helvetica, sans-serif;
  }
  #sapa { /* sapa portion */
    font-family: Arial, Helvetica, sans-serif;
  }
  #other { /* Other portion setting */
    font-family: Arial, Helvetica, sans-serif;
  }
  #summary { /* Resume Summary */
    font-family: Arial, Helvetica, sans-serif;
  }
  #key_skills { /* Resume Key Skills */
    font-family: Arial, Helvetica, sans-serif;
  }
  #map-wrapper {
    width: 400px;
    height: 610px;
  }
  #map-canvas {
    width: 370px;
    height: 590px;
    margin: 10px auto;
  }
}

/* Responsive layout 768px */
@media screen and (min-width: 48em) {
  .nav-links ul li {
    font-size: 90%;
  }
  h1 {
    font-family: 'Atma', cursive;
    font-size: 250%;
  }
  h2 {
    font-family: 'Oldenburg', cursive;
    font-size: 150%;
  }
  h3 { /* Heading 3 */
    font-family: 'Oldenburg', cursive;
    font-size: 130%;
  }
  h4 { /* Heading 4 */
    font-family: 'Oldenburg', cursive;
    font-size: 110%;
  }
  p {
    font-family: 'Arima Madurai', cursive;
    font-size: 1.2em;
    text-align: justify;
  }
  .nav-links {
    font-size: 160%;
  }
  ul li { /* List Item Setting */
    font-family: 'Arima Madurai', cursive;
    font-size: 1.15em;
    text-align: justify;
  }
  .img-column {
    float: none;
    width: 40%;
    padding-left: 2em;
    padding-bottom: 1em;
  }
  img { /* Image Setting */
    align-self: center;
    width: 25em;
    height: 18em;
    max-width:25em;
    max-height: 18em;
  }
  .slideshow {
    max-width: 570px;
    margin: 0 auto;
  }
  video {
    align-self: center;
    width: 25em;
    height: 18em;
    max-width:25em;
    max-height: 18em;
  }
  figcaption {
    max-width: 26em;
    font-size: 1.1em;
  }
  /* Align left, center, right on a Resume line */
  .alignleft {
    padding-left: 0.625em;
    padding-top: 2.0em;
    font-family: 'Arima Madurai', cursive;
    font-size: 1em;
  }
  .aligncenter {
    padding-top: 0.5em;
    font-family: 'Arima Madurai', cursive;
    font-size: 250%;
    font-weight: 800;
  }
  .alignright {
    padding-top: 2.0em;
    padding-right: 1.15em;
    font-family: 'Arima Madurai', cursive;
    font-size: 1em;
  }​
  /* Take care of overflow outside of container */
  .clearfix {
    font-family: 'Arima Madurai', cursive;
    font-size: 140%;
    font-weight: 800;
    padding-top: 0.625em;
  }
  #intro { /* Intro */
    padding-top: 3em;
  }
  #saigon { /* Saigon portion setting */
    font-family: 'Arima Madurai', cursive;
  }
  #sapa { /* sapa portion */
    font-family: 'Arima Madurai', cursive;
  }
  #other { /* Other portion setting */
    font-family: 'Arima Madurai', cursive;
  }
  #summary { /* Resume Summary */
    font-family: 'Arima Madurai', cursive;
  }
  #key_skills { /* Resume Key Skills */
    font-family: 'Arima Madurai', cursive;
  }
  #map-wrapper {
    width: 700px;
    height: 620px;
  }
  #map-canvas {
    width: 670px;
    height: 590px;
    margin: 15px auto;
  }
}

/* Responsive layout 1010px */
@media screen and (min-width: 63.125em) {
  .nav-links ul li {
    font-size: 100%;
  }
  h1 {
    font-family: 'Atma', cursive;
    font-size: 300%;
  }
  h2 {
    font-family: 'Oldenburg', cursive;
    font-size: 200%;
  }
  h3 { /* Heading 3 */
    font-family: 'Oldenburg', cursive;
    font-size: 140%;
  }
  h4 { /* Heading 4 */
    font-family: 'Oldenburg', cursive;
    font-size: 120%;
  }
  p {
    font-family: 'Arima Madurai', cursive;
    font-size: 1.25em;
    text-align: justify;
  }
  .jobtitle { /* Size for Job Title */
    font-size: 125%;
  }
  .nav-links {
    font-size: 175%;
  }
  ul li { /* List Item Setting */
    font-family: 'Arima Madurai', cursive;
    font-size: 1.2em;
  }
  .img-column { /* for 2 column images */
    float: left;
    width: 50%;
    padding: 0.25em;
  }
  img { /* Image Setting */
    width: 28.125em;
    height: 18.75em;
    max-width:28.125em;
    max-height: 18.75em;
  }
  .slideshow {
    max-width: 650px;
    margin: 0 auto;
  }
  video{ /* Video Setting */
    width: 28.125em;
    height: 21.25em;
    max-width:28.125em;
    max-height: 21.25em;
  }
  figcaption {
    max-width: 29em;
    font-size: 1em;
  }
  /* Align left, center, right on a Resume line */
  .alignleft {
    padding-left: 0.625em;
    padding-top: 2.5em;
    font-family: 'Arima Madurai', cursive;
    font-size: 1em;
  }
  .aligncenter {
    padding-top: 0.5em;
    font-family: 'Arima Madurai', cursive;
    font-size: 300%;
    font-weight: 900;
  }
  .alignright {
    padding-top: 2.5em;
    padding-right: 1.25em;
    font-family: 'Arima Madurai', cursive;
    font-size: 1em;
  }​
  .clearfix {
    font-family: 'Arima Madurai', cursive;
    font-size: 150%;
    font-weight: 900;
    padding-top: 0.625em;
  }
  #intro { /* Intro */
    padding-top: 3.5em;
  }
  #saigon { /* Saigon portion setting */
    font-family: 'Arima Madurai', cursive;
  }
  #sapa { /* sapa portion */
    font-family: 'Arima Madurai', cursive;
  }
  #other { /* Other portion setting */
    font-family: 'Arima Madurai', cursive;
  }
  #summary { /* Resume Summary */
    font-family: 'Arima Madurai', cursive;
  }
  #key_skills { /* Resume Key Skills */
    font-family: 'Arima Madurai', cursive;
  }
  /* Wrapper and Canvas for the map */
  #map-wrapper {
    width: 860px;
    height: 630px;
  }
  #map-canvas {
    width: 810px;
    height: 590px;
    margin: 20px auto;
  }
}
